# __pycache__
app/__pycache__
app/controllers/__pycache__
app/models/__pycache__
app/repositories/__pycache__
app/services/__pycache__
app/utils/__pycache__
app/sockets/__pycache__
migrations/__pycache__
migrations/versions/__pycache__

# IDE files
.vscode/
.idea/
*.swp
*.swo


# .env
# instance/
# .env
# chroma_db/
# embedding_cache
# static/uploads/
# __pycache__/
# *.pyc
